appVittoria/appVittoria/__pycache__/
appVittoria/apps/ADM/vittoria_acciones/migrations/__pycache__/
appVittoria/apps/ADM/vittoria_autenticacion/migrations/__pycache__/
appVittoria/apps/ADM/vittoria_catalogo/migrations/__pycache__/
appVittoria/apps/ADM/vittoria_logs/migrations/__pycache__/
appVittoria/apps/ADM/vittoria_roles/migrations/__pycache__/
appVittoria/apps/ADM/vittoria_usuarios/migrations/__pycache__/
appVittoria/apps/MDM/mdm_clientes/migrations/__pycache__/
appVittoria/apps/MDM/mdm_clientes/views/__pycache__/
appVittoria/apps/MDM/mdm_facturas/migrations/__pycache__/
appVittoria/apps/MDM/mdm_negocios/migrations/__pycache__/
appVittoria/apps/MDM/mdm_negocios/views/__pycache__/
appVittoria/apps/MDM/mdm_parametrizaciones/migrations/__pycache__/
appVittoria/apps/MDM/mdm_prospectosClientes/migrations/__pycache__/
appVittoria/apps/MDP/mdp_categorias/__pycache__/
appVittoria/apps/MDP/mdp_categorias/migrations/__pycache__/
appVittoria/apps/MDP/mdp_fichaTecnicaProductos/__pycache__/
appVittoria/apps/MDP/mdp_fichaTecnicaProductos/migrations/__pycache__/
appVittoria/apps/MDP/mdp_parametrizaciones/__pycache__/
appVittoria/apps/MDP/mdp_parametrizaciones/migrations/__pycache__/
appVittoria/apps/MDP/mdp_productos/__pycache__/
appVittoria/apps/MDP/mdp_productos/migrations/__pycache__/
appVittoria/apps/MDP/mdp_subCategorias/__pycache__/
appVittoria/apps/MDP/mdp_subCategorias/migrations/__pycache__/
appVittoria/apps/ADM/vittoria_acciones/__pycache__/
appVittoria/apps/ADM/vittoria_autenticacion/__pycache__/
appVittoria/apps/ADM/vittoria_catalogo/__pycache__/
appVittoria/apps/ADM/vittoria_logs/__pycache__/
appVittoria/apps/ADM/vittoria_roles/__pycache__/
appVittoria/apps/ADM/vittoria_usuarios/__pycache__/
appVittoria/apps/MDM/mdm_clientes/__pycache__/
appVittoria/apps/MDM/mdm_facturas/__pycache__/
appVittoria/apps/MDM/mdm_negocios/__pycache__/
appVittoria/apps/MDM/mdm_parametrizaciones/__pycache__/
appVittoria/apps/MDM/mdm_prospectosClientes/__pycache__/
appVittoria/apps/MDO/mdo_parametrizaciones/__pycache__/
appVittoria/apps/MDO/mdo_parametrizaciones/migrations/__pycache__/
appVittoria/apps/MDO/mdo_generarOferta/__pycache__/
appVittoria/apps/MDO/mdo_generarOferta/migrations/__pycache__/
appVittoria/apps/MDO/mdo_prediccionCrosseling/__pycache__/
appVittoria/apps/MDO/mdo_prediccionCrosseling/migrations/__pycache__/
appVittoria/apps/MDO/mdo_prediccionRefil/__pycache__/
appVittoria/apps/MDO/mdo_prediccionRefil/migrations/__pycache__/
appVittoria/apps/MDO/mdo_prediccionProductosNuevos/__pycache__/
appVittoria/apps/MDO/mdo_prediccionProductosNuevos/migrations/__pycache__/
appVittoria/apps/GDO/gdo_parametrizaciones/__pycache__/
appVittoria/apps/GDO/gdo_parametrizaciones/migrations/__pycache__/
appVittoria/apps/GDO/gdo_gestionOferta/__pycache__/
appVittoria/apps/GDO/gdo_gestionOferta/migrations/__pycache__/
appVittoria/apps/GDE/gde_parametrizaciones/__pycache__/
appVittoria/apps/GDE/gde_parametrizaciones/migrations/__pycache__/
appVittoria/apps/GDE/gde_gestionEntrega/__pycache__/
appVittoria/apps/GDE/gde_gestionEntrega/migrations/__pycache__/
appVittoria/apps/GDP/gdp_productos/__pycache__/
appVittoria/apps/GDP/gdp_productos/migrations/__pycache__/
appVittoria/apps/config/__pycache__/
.env
appVittoria/apps/USER/usuarios/__pycache__/
appVittoria/apps/USER/usuarios/migrations/__pycache__/
.idea
